/*
    1. **Display**: Controla cómo se muestra un elemento (block, inline, flex, grid, etc.). 
    2. **Position**: Define cómo se posiciona un elemento (static, relative, absolute, fixed, sticky). 
    3. **Float**: Permite que un elemento flote a la izquierda o a la derecha. 
    4. **Clear**: Controla el comportamiento de los elementos flotantes. 
    5. **Flexbox**: Propiedades como  flex-direction ,  flex-wrap ,  justify-content ,  align-items , etc. 
    6. **Grid**: Propiedades como  grid-template-columns ,  grid-template-rows ,  grid-area , etc. 
    7. **Margin**: Espaciado exterior de un elemento. 
    8. **Padding**: Espaciado interior de un elemento. 
    9. **Width y Height**: Definen las dimensiones de un elemento. 
    10. **Overflow**: Controla cómo se comporta el contenido que excede el área de un elemento. 
*/
@import url('./1-def-variables.css');

html {
    width:  100% ;    
    height: 100% ;
    margin: 0 ;
    padding:0 ;
}


body {
    max-width:      1920px ;
    width:          100% ;
    height:         100% ;
    margin:          0 ;
    padding:         0 ;
    display:         flex ;
    justify-content: center ;
    display:         flex ;
    justify-content: center ;
align-items:         center ;
}

#root {
    width:           100% ;
    height:          100% ;
    display:         flex ;
    justify-content: center ;
}

main {
    width:  100% ;
    height: 100% ;
}

.login .img-usuario {
    max-width:  14rem ;
    max-height: 14rem ;
}

/*Definición del Tamaños de las Imagenes del Usuario*/
.img-usuario img {
    width:  100% ;
    height: 100% ;
}
/*Fin de Definición de Imagenes*/

/*Definición de parametros de todo Login*/
.login {
    height:      100% ;
    display:     flex ;
    align-items: center ;
}
/*Fin contenedor principal*/

/*configuración panel para ingresar*/
.panel-ingreso {
    width:            60% ;
    height:           85vh ;
    padding:          1rem ;
    display:          flex ;
    flex-direction:   column ;
    justify-content:  center ;
    align-items:      center ;
}
/*Fin de panel de ingreso*/

.panel-ingreso .titulo {
    margin:         2rem 2rem 1rem 2rem ;
    padding:        auto ;
    display:        flex ;
    flex-direction: column ;
    align-items:    center ;
}

.panel-ingreso .img-usuario {
    max-width: 75% ;
    height:    auto ;
    display:   block ;
    margin:    1rem ;
}

.panel-ingreso .titulo label:nth-child(1) {
    width:          100% ;
    margin-bottom: .30rem ;
}

.panel-ingreso > .img-usuario {
    padding: 1rem ;
}

.panel-ingreso .formulario {
    display:        flex ;
    flex-direction: column ;
    align-items:    center ;
}

.panel-bienvenida {
    width:            40% ;
    height:           100% ;
    display:          flex ;
    flex-direction:   column ;
    justify-content:  center ;
}

.panel-bienvenida > article {
    margin:         6rem 0 2rem 0 ;
    display:        flex ;
    flex-direction: column ;
    align-items:    center ;
    justify-content:space-evenly ;
}

.panel-bienvenida > article > h1 {
    margin: 1rem ;
}

.panel-bienvenida > article > p {
    margin:      1rem ;
    padding:     1rem ;
    text-align:  center ;
    line-height: 3rem ;
}

.panel-bienvenida .img-login {
    margin:  7rem ;
    padding: 4rem ;
}

.panel-bienvenida > article img {
    width:  3.75rem ;
    height: 3.125rem ;
}